<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
  <%# if current_user is asker display @chatroom.helper.name %>
  <div class="chat-top">
    <div class="chat-top-left">
      <% if current_user == @chatroom.helper %>
        <%= link_to user_path(@chatroom.asker) do %>
        <h1>Chat with <strong><%= @chatroom.asker.name %></strong></h1>
        <% end %>
      <% else %>
        <%= link_to user_path(@chatroom.helper) do %>
        <h1>Chat with <strong><%= @chatroom.helper.name %></strong></h1>
        <% end %>
      <% end %>
    </div>
    <div class="chat-top-right"><%= link_to "go back", dashboard_path %></div>
  </div>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
       <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
  </div>

  <%= simple_form_for [@chatroom, @message],
    html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
  <%= f.input :content,
    label: false,
    placeholder: 'message',
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>
</div>
