

  <div class="greeting">
    <h1>Hello, <br> This is <%= @user.name %> </h1>
  </div>
  <div id="pfp-show" style="position: relative; display: inline-block;">
    <img src="https://source.unsplash.com/random/500x500/?portrait" alt="Avatar" style="position: absolute; left: 0; margin-left :-10px; margin :-7px; top: 50%; transform: translateY(-50%); border-radius: 50%; width: 50px; height: 50px;">
  </div>

  <div class="about">
    <h3> About <%=@user.name%></h2>
    <p>placeholder</p>
  </div>


<div class= "Reviews">
  <h2> Reviews </h2>
  <% @user.reviews.each do |review| %>
    <h3><%= review.post.user.name%> </h3>
    <p><%= review.asker_comment %></p>
    <p><%= review.helper_rating %></p>
  <% end %>
</div>
