<div class="container-usersshow">

    <div class="usersshow-greeting">
      <h1>Hello, <br> This is <%= @user.name %> </h1>
    </div>

    <div class= "usersshow-photo-review">
      <div class="usersshow-photo-left">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, class: "photo" %>
      <% else %>
        <%= image_tag "https://www.creativefabrica.com/wp-content/uploads/2022/12/09/Wicked-Clown-Laughing-Evil-Female-51256887-1-580x580.png", class: "photo" %>
      <% end %>
      </div>
    </div>
    <div class="about">
      <h3> About <%=@user.name%></h2>
      <p><%= @user.about_me %></p>
    </div>

    <h2> Reviews </h2>
    <% if @user.reviews.empty? && @user.reviews_as_asker.empty? %>
      <p>The first review is yet to come in!</p>
    <% else %>

      <ul>
        <% @user.reviews.each do |review| %>
          <% if review.asker_comment %>
            <h3><%= review.post.user.name%> </h3>
            <p>Rating :<%= "❤️" * review.asker_rating %></p>
            <p><%= review.asker_comment %></p>
          <% end %>
        <% end %>
        <% @user.reviews_as_asker.each do |review| %>
          <% if review.helper_comment %>
            <h3><%= review.user.name%> </h3>
            <p>Rating :<%= "❤️" * review.helper_rating %></p>
            <p><%= review.helper_comment %></p>
          <% end %>
        <% end %>
        <% if @user.reviews.empty? && @user.reviews_as_asker.empty? %>
          <p>There are no reviews to be displayed.</p>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="container navbar ">

      <div class="orange-bar">

        <div class="green-circle">
          <a href="/posts/new">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none" class="plus-icon">
              <path d="M18 6L18 30M30 18L6 18" stroke="#F8F7FD" stroke-width="1.5" stroke-linecap="round"/>
            </svg>
          </a>
        </div>

        <div class="icon-wrapper">

          <div class="navbar-left">
            <a href="/">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none"><path d="M13.2 20.4C13.2 20.4 15 22.8 18 22.8C21 22.8 22.8 20.4 22.8 20.4M14.412 15V14.4M21.6 14.4C21.6 15 21.6 15 21.6 15M30 18C30 24.6274 24.6274 30 18 30C11.3726 30 6 24.6274 6 18C6 11.3726 11.3726 6 18 6C24.6274 6 30 11.3726 30 18Z" stroke="#F8F7FD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
            </a>
            <a href="/">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none"><path d="M7.21484 28.668C7.50781 28.668 7.8125 28.5625 8.1875 28.3516L14.1523 25.1406L20.6328 28.7734C21.0547 29.0078 21.5117 29.125 21.9453 29.125C22.3555 29.125 22.7656 29.0195 23.1172 28.8203L29.2461 25.3398C29.9492 24.9531 30.2656 24.3906 30.2656 23.6055V7.82031C30.2656 6.95312 29.7852 6.47266 28.9414 6.47266C28.6484 6.47266 28.3438 6.56641 27.957 6.77734L21.7461 10.2344L15.3828 6.33203C15.0195 6.12109 14.6094 6.00391 14.1992 6.00391C13.7773 6.00391 13.3555 6.12109 12.9922 6.33203L6.89844 9.80078C6.20703 10.1992 5.89062 10.7617 5.89062 11.5469V27.3086C5.89062 28.1758 6.37109 28.668 7.21484 28.668ZM13.3906 23.2773L8.10547 26.1836C8.04688 26.207 7.98828 26.2422 7.92969 26.2422C7.83594 26.2422 7.77734 26.1719 7.77734 26.0547V12.0039C7.77734 11.7227 7.88281 11.5234 8.16406 11.3594L12.9688 8.54688C13.1211 8.46484 13.25 8.39453 13.3906 8.3125V23.2773ZM15.2773 23.4648V8.55859C15.3945 8.62891 15.5352 8.69922 15.6523 8.76953L20.8789 11.957V26.6055C20.7148 26.5117 20.5391 26.4297 20.3633 26.3359L15.2773 23.4648ZM22.7656 26.8164V11.8398L28.0508 8.95703C28.1094 8.92188 28.168 8.89844 28.2148 8.89844C28.3203 8.89844 28.3789 8.96875 28.3789 9.08594V23.1367C28.3789 23.4297 28.2617 23.6289 27.9922 23.793L23.293 26.5234C23.1172 26.6289 22.9414 26.7344 22.7656 26.8164Z" fill="#F8F7FD"/></svg>
            </a>
          </div>

          <div class="navbar-right">
            <a href="">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none"><path d="M14.6309 15H21.3823M14.6353 21H19.1406M30 18C30.0048 19.8633 29.5695 21.7015 28.7294 23.3647C27.7333 25.3577 26.202 27.0341 24.307 28.206C22.412 29.3779 20.2281 29.9991 18 30C16.4663 30.004 14.9497 29.7097 13.5336 29.137C12.9394 28.8967 12.2944 28.7871 11.6624 28.8942L8.59385 29.221C7.54839 29.3324 6.66683 28.4506 6.77841 27.4052L7.10582 24.3376C7.21287 23.7056 7.10327 23.0606 6.86297 22.4664C6.29028 21.0503 5.99604 19.5337 6.00004 18C6.0009 15.7719 6.62208 13.588 7.79399 11.693C8.9659 9.79803 10.6423 8.26672 12.6353 7.27062C14.2985 6.43053 16.1367 5.99518 18 6.00004H18.7059C21.6485 6.16238 24.4278 7.4044 26.5117 9.4883C28.5956 11.5722 29.8376 14.3515 30 17.2941V18Z" stroke="#F8F7FD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
            </a>
            <%= link_to dashboard_path do%>
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none"><path d="M23.9181 10.2524L24.2931 10.9019L23.9181 10.2524ZM28.0161 11.3504L28.6657 10.9754V10.9754L28.0161 11.3504ZM28.7661 12.6495L28.1166 13.0245L28.7661 12.6495ZM27.6681 16.7476L28.0431 17.3971L27.6681 16.7476ZM27.6681 19.2524L27.2931 19.9019L27.6681 19.2524ZM28.7662 23.3504L29.4157 23.7254L28.7662 23.3504ZM28.0162 24.6495L27.3667 24.2745L28.0162 24.6495ZM23.9181 25.7476L24.2931 25.098L23.9181 25.7476ZM12.0796 25.7476L11.7046 25.098H11.7046L12.0796 25.7476ZM7.98153 24.6495L8.63105 24.2745L7.98153 24.6495ZM7.23153 23.3504L6.58201 23.7254H6.58201L7.23153 23.3504ZM8.3296 19.2524L7.9546 18.6028H7.9546L8.3296 19.2524ZM8.32964 16.7476L7.95464 17.3971L8.32964 16.7476ZM7.23156 12.6495L6.58204 12.2745H6.58204L7.23156 12.6495ZM7.98156 11.3504L8.63108 11.7254L8.63108 11.7254L7.98156 11.3504ZM12.0796 10.2524L11.7046 10.9019H11.7046L12.0796 10.2524ZM17.2487 5.25C15.1776 5.25 13.4987 6.92893 13.4987 9H14.9987C14.9987 7.75736 16.0061 6.75 17.2487 6.75V5.25ZM18.7487 5.25H17.2487V6.75H18.7487V5.25ZM22.4987 9C22.4987 6.92893 20.8198 5.25 18.7487 5.25V6.75C19.9914 6.75 20.9987 7.75736 20.9987 9H22.4987ZM28.6657 10.9754C27.6301 9.18185 25.3367 8.56731 23.5431 9.60285L24.2931 10.9019C25.3692 10.2806 26.7453 10.6493 27.3666 11.7254L28.6657 10.9754ZM29.4157 12.2745L28.6657 10.9754L27.3666 11.7254L28.1166 13.0245L29.4157 12.2745ZM28.0431 17.3971C29.8367 16.3615 30.4512 14.0681 29.4157 12.2745L28.1166 13.0245C28.7379 14.1006 28.3692 15.4767 27.2931 16.098L28.0431 17.3971ZM29.4157 23.7254C30.4512 21.9318 29.8367 19.6384 28.0431 18.6028L27.2931 19.9019C28.3693 20.5232 28.738 21.8993 28.1167 22.9754L29.4157 23.7254ZM28.6657 25.0245L29.4157 23.7254L28.1167 22.9754L27.3667 24.2745L28.6657 25.0245ZM23.5431 26.3971C25.3367 27.4326 27.6302 26.8181 28.6657 25.0245L27.3667 24.2745C26.7453 25.3506 25.3693 25.7194 24.2931 25.098L23.5431 26.3971ZM18.7487 30.75C20.8198 30.75 22.4987 29.0711 22.4987 27H20.9987C20.9987 28.2426 19.9914 29.25 18.7487 29.25V30.75ZM17.2487 30.75H18.7487V29.25H17.2487V30.75ZM13.4987 27C13.4987 29.0711 15.1776 30.75 17.2487 30.75V29.25C16.0061 29.25 14.9987 28.2426 14.9987 27H13.4987ZM7.33201 25.0245C8.36754 26.8181 10.661 27.4326 12.4546 26.3971L11.7046 25.098C10.6284 25.7194 9.25237 25.3506 8.63105 24.2745L7.33201 25.0245ZM6.58201 23.7254L7.33201 25.0245L8.63105 24.2745L7.88105 22.9754L6.58201 23.7254ZM7.9546 18.6028C6.16101 19.6384 5.54647 21.9318 6.58201 23.7254L7.88105 22.9754C7.25972 21.8993 7.62844 20.5232 8.7046 19.9019L7.9546 18.6028ZM6.58204 12.2745C5.54651 14.0681 6.16104 16.3615 7.95464 17.3971L8.70464 16.098C7.62848 15.4767 7.25976 14.1006 7.88108 13.0245L6.58204 12.2745ZM7.33204 10.9754L6.58204 12.2745L7.88108 13.0245L8.63108 11.7254L7.33204 10.9754ZM12.4546 9.60285C10.661 8.56731 8.36758 9.18185 7.33204 10.9754L8.63108 11.7254C9.2524 10.6493 10.6285 10.2806 11.7046 10.9019L12.4546 9.60285ZM11.7046 10.9019C13.1687 11.7472 14.9987 10.6905 14.9987 9H13.4987C13.4987 9.53587 12.9186 9.87074 12.4546 9.60285L11.7046 10.9019ZM8.7046 19.9019C10.1687 19.0566 10.1688 16.9434 8.70464 16.098L7.95464 17.3971C8.4187 17.665 8.41873 18.3349 7.9546 18.6028L8.7046 19.9019ZM14.9987 27C14.9987 25.3096 13.1687 24.2527 11.7046 25.098L12.4546 26.3971C12.9186 26.1292 13.4987 26.4641 13.4987 27H14.9987ZM24.2931 25.098C22.829 24.2527 20.9987 25.3093 20.9987 27H22.4987C22.4987 26.4641 23.0789 26.1291 23.5431 26.3971L24.2931 25.098ZM27.2931 16.098C25.8289 16.9434 25.829 19.0566 27.2931 19.9019L28.0431 18.6028C27.579 18.3349 27.579 17.665 28.0431 17.3971L27.2931 16.098ZM20.9987 9C20.9987 10.6907 22.829 11.7471 24.2931 10.9019L23.5431 9.60285C23.0789 9.87085 22.4987 9.53582 22.4987 9H20.9987ZM20.5215 17.9999C20.5215 19.3932 19.3921 20.5226 17.9988 20.5226V22.0226C20.2205 22.0226 22.0215 20.2216 22.0215 17.9999H20.5215ZM17.9988 20.5226C16.6055 20.5226 15.4761 19.3932 15.4761 17.9999H13.9761C13.9761 20.2216 15.7771 22.0226 17.9988 22.0226V20.5226ZM15.4761 17.9999C15.4761 16.6066 16.6055 15.4772 17.9988 15.4772V13.9772C15.7771 13.9772 13.9761 15.7782 13.9761 17.9999H15.4761ZM17.9988 15.4772C19.3921 15.4772 20.5215 16.6066 20.5215 17.9999H22.0215C22.0215 15.7782 20.2205 13.9772 17.9988 13.9772V15.4772Z" fill="#F8F7FD"/></svg>
            <% end %>
          </div>

        </div>

      </div>

    </div>
</div>
