<div class="container-usersshow">

    <div class="usersshow-greeting">
      <h1>Hello, <br> This is <%= @user.name %> </h1>
    </div>

    <div class= "usersshow-photo-review">
      <div class="usersshow-photo-left">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, class: "photo" %>
      <% else %>
        <%= image_tag "https://www.creativefabrica.com/wp-content/uploads/2022/12/09/Wicked-Clown-Laughing-Evil-Female-51256887-1-580x580.png", class: "photo" %>
      <% end %>
      </div>
    </div>
    <div class="about">
      <h3> About <%=@user.name%></h2>
      <p><%= @user.about_me %></p>
    </div>

<h2> Reviews </h2>
  <% if @user.reviews.empty? && @user.reviews_as_asker.empty? %>
    <p>The first review is yet to come in!</p>
  <% else %>
    <% @user.reviews.each do |review| %>
      <% if review.asker_comment %>
        <div class="review-container">
          <div class="review-user-rating">
            <div class="review-user-name"><%= review.post.user.name %></div>
            <div class="review-rating"><%= "❤️" * review.asker_rating %></div>
          </div>
          <div class="review-comment"><%= review.asker_comment %></div>
        </div>
      <% end %>
    <% end %>
    <% @user.reviews_as_asker.each do |review| %>
      <% if review.helper_comment %>
        <div class="review-container">
          <div class="review-user-rating">
            <div class="review-user-name"><%= review.user.name %></div>
            <div class="review-rating"><%= "❤️" * review.helper_rating %></div>
          </div>
          <div class="review-comment"><%= review.helper_comment %></div>
        </div>
      <% end %>
    <% end %>
    <% if @user.reviews.empty? && @user.reviews_as_asker.empty? %>
      <p>There are no reviews to be displayed.</p>
    <% end %>
  <% end %>
</div>

<div class="container d-flex justify-content-center"><%= render "shared/navbar" %></div>
