<div class="container-map d-flex justify-content-center ">
  <div class="container zipcode">
    <%= form_tag posts_path, method: :get do %>
    <p id="zipcode-placeholder"><%= text_field_tag :query, params[:query], placeholder: "enter your zipcode" %></p>
    <% end %>
  </div>

  <div style="width: 100vw; height: 100vh;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-center-value="<%= @center.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="container role-toggle">
    <div id="asker" class="orange-toggle">
      <p id="asker-placeholder">asking help</p>
    </div>
    <div id="helper" class="white-toggle">
      <p id="helper-placeholder">providing help</p>
    </div>
  </div>

  <%= render "shared/navbar" %>

</div>
