<div class= "container show">
  <%= link_to posts_path do %>
    <div class="triangle-btn"></div>
  <% end %>
  <div class="show-intro">
    <div class="greeting-and-info">
      <div class="greeting">
        <% if @post.user.photo.attached? %>
            <%= cl_image_tag @post.user.photo.key, class: "show-pfp" %>
          <% else %>
            <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/2048px-Default_pfp.svg.png", class: "photo" %>
          <% end %>
        <h1>This is <%= @post.user.name %> </h1>
      </div>
      <div class="show-info">
        <h2><%= @post.user.name %> <%= welcome_message %> <strong>#<%= @post.category %></strong></h2>
        <h3><%= @post.user.zipcode %></h3>
      </div>
    </div>
  </div>

  <div class="container user-info">
    <div class="post-user-info">
      <h4> <strong> <%= @post.user.name %>'s struggle </strong></h4>
      <h4 class="h4-description"> <%= @post.description %></h4>
    </div>
    <div class="btn-cta">
      <% if @existing_chat %>
        <%= link_to "chat", chatroom_path(@existing_chat) %>
      <% else %>
        <%= simple_form_for @chatroom do |f| %>
          <% if @post.asker %>
            <%= f.input :asker_id, as: :hidden, input_html: { value: @post.user.id} %>
            <%= f.input :helper_id, as: :hidden, input_html: { value: current_user.id} %>
          <% else %>
            <%= f.input :helper_id, as: :hidden, input_html: { value: @post.user.id} %>
            <%= f.input :asker_id, as: :hidden, input_html: { value: current_user.id} %>
          <% end %>
          <%= f.button :button %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="container images">
    <div class="images-header">
      <div class="img-flex">
        <% if @post.photos.attached? %>
          <% @post.photos.each do |image| %>
          <div class="attached-image">
            <%= cl_image_tag image.key, class: "img-fluid" %>
          </div>
          <% end %>
        <% else %>
          <p><%= @post.user.name %> choosed not to attach any image</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
