<% @post.reviews.each do |review| %>
  <h3><%= review.post.user.name %></h3>
  <p><%=review.helper_comment %></p>
  <p><%= review.asker_rating %></p>

  <p><%=review.asker_comment %></p>
  <p><%= review.helper_rating %></p>

<% end %>
