<%= simple_form_for [@post, @review] do |f| %>
  <div class="container create-review">
    <div class="form">
      <%= link_to post_path(@post) do %>
        <div class="triangle-btn"></div>
      <% end %>

      <div class= "review_intro">
        <p> Thank you so much for choosing TwoGather. <br>Your input is helping bring neighbors closer together!<br> We hope you had a great time connecting and were able to have a positive experience. </p>
      </div>

      <div class="review_bottom">
        <h1>How was your experience ?</h1>
        <hr>
        <div class= "review_bottom_box">
          <% if current_user == @asker %>
            <%= f.input :asker_comment, placeholder: 'please leave a review for your helper', label: false %>
          <% else %>
            <%= f.input :helper_comment, placeholder: 'please leave a review for your asker', label: false %>
          <% end  %>
        </div>

        <div class= "review_bottom_rating">
          <%= f.input :asker_rating, as: :select, collection: 1..5, prompt: 'please choose a rating', label: false %>
        </div>
        <% if current_user == @asker %>
          <div class="review_bottom_checkbox">
            <%# <%= f.input :mark_as_checked, as: :boolean, label: 'Mark as checked' %>
          </div>
        <% end %>
        <%= f.submit class: 'create-btn'%>
      </div>
    </div>
  </div>
<% end %>
